html,
body {
    font-family: Arial, sans-serif;
    background-color: #c7d2fe;
}
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fef3c7;
}
